:root {

    --Headingfont: "Lobster", sans-serif;
    --Parrafatfont: "Moderustic", sans-serif;

    --primaricolor:#E6D4B7;
    --secodarycolor:#AD4146;
    --titlecolor:#D7A77F;
    --boxcolor:#FCFBFC;

    --whitecolor:#FFFFFF;
    --bodercolor:#D8C9B5;
    --footercolor:#1C151B;
}
html{
    box-sizing: border-box;
    font-size:62.5% ; /*1rem == 10xp*/


}
*, *:before, *::after{
    box-sizing: inherit;
}
body{
    background-color: var(--primaricolor);
    
     font-family: var(--Parrafatfont);
     font-size: 1.6rem;
     line-height: 2;
}

/** Globals **/

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--Headingfont);
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}

/** Utilities **/
.no_margin{
    margin: 0;
}
.no_padding{
    padding: 0;
}
.center_text{
    text-align: center;
}

/** Header **/

.header{
    background-image: url(../multimedia/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /*centra en los ejes x,y*/

    height: 60rem;
}
.header__title{
    text-align: center;
    color: var(--whitecolor);
}
.barra{
    text-align: center;
}
.barra a{
    padding: 2rem 2rem;
    margin: 0;
    display: block;
}
.barra a img{
    width: auto;
    height: auto;
    
    padding: 0;
    margin: 0;
}


.link__navetion{
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;

    color: var(--whitecolor);

}
.seccion_1{
    text-align: center;
}
.section__1__map{
    display: flex;
    justify-content: space-around;
    

    padding-inline: 10rem;
    gap: 1rem;

}
.Section_1__box{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;

    border: 2px solid var(--bodercolor);
    border-radius: 1rem;

    height: auto;
    width: auto;
    
}
.Section_1__box img{
    height: 50lvh;
    width: 90%;
    padding: 1rem;

    margin-inline: auto;
}
.Section_1__box h4{
    color: #D7A77F ;
}
.Section_1__box a{
    border: #D7A77F 2px solid;
    border-radius: 2rem;
    color: #D7A77F;

    padding-block: .2rem;
    padding-inline: 3rem;
    margin-inline: auto;

    width: fit-content;

}
.seccion_2{
    text-align: center;    
}
.section_2__map{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding-inline: 10rem;
}
.section_2__map__box{
    display: inline-block;

    text-align: center;
    padding: 1rem;

    border: 2px solid var(--bodercolor);
    border-radius: 1rem;

    height: auto;
    width: auto;
}
.section_2__map__box img{
    height: 50lvh;
    width: 90%;
    padding: 1rem;

    margin-inline: auto;
}
.section_2__map__box h4{
    color: #D7A77F;
}
.section_2__map__box p{
    color: black;
}
.footer{
    background-color: var(--footercolor);
    color: var(--whitecolor);
    text-align: center;
    padding: 2rem;
}
@media (min-width:760px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navegation{
        display: flex;
        gap: 2rem;
    }
    .header__title h2{
        color:/** #1B0107**/#D7A77F;
    }
    .main_conten{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .Section_1__box{
        height: 50%;
    }

}
@media (max-width:780px){
    .section__1__map{
        display: flex;
        flex-direction: column;
    }
    .Section_1__box img{
        height: 45%;
        width: 45lvh;
    }
    .section_2__map{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 480px){

    .header{
        background-position: left center;
        height: max-content;
        padding: 1rem;
    } 
    .header__title h2{
        font-size: 3.5rem;
    }
    .barra a img{
        width: 14rem;
        height: auto;
        
        padding: 0;
        margin: 0;
    }
    .section__1__map{
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
    }
    .Section_1__box img{
        height: 45%;
        width: 85%;
    }
    .section_2__map{
        display: flex;
        flex-direction: column;

        padding-inline: 2rem;
    }
    .section_2__map__box img{
        width: 85%;
    }
}
